<!DOCTYPE html>
<html>

<head>
    <meta name="viewpoint" content="with=device-width,initial-scale=1.0">
    <title>University Website Design Tutorial</title>

    <link rel="stylesheet" href="css/style.css">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet" </head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" <body>

    <section class=" sub-header" .>

        <nav>

            <a href="index.html"><img src="images/2.png"></a>

            <div class="nav-link" id="navLink">

                <i class="fa fa-times" onclick="hidemenu()"></i>



                <ul>


                    <li><a href="/index">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/course">Course</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/Contact">Contact</a></li>
                    <li><a href="/register">Register</a></li>
                       <li><a href="/Signup">Log in</a></li>



                </ul>

            </div>


            <i class="fa fa-bars" onclick="showmenu()"></i>


        </nav>

        <h1>Our Certificate & Online Program For 2022 </h1>




        </div>



    </section>







    </div>


    </section>

    <!------------------------------------------Blog Page Contant------------------------------------------------------------------->

    <section class="blog-contant">

        <div class="row">

            <div class="blog-left">

                <img src="images/12.jpeg">

                <h2>Our Certificate & Online Program For 2022 </h2>

                <p> Making website is known one of the earliest thing in the world you just need to learn HTML CSS JavaScript you are good to go</p>

                <br>
                <p>Making website is known one of the earliest thing in the world you just need to learn HTML CSS JavaScript you are good to go</p>

                <br>
                <p> Making website is known one of the earliest thing in the world you just need to learn HTML CSS avaScript you are good to go</p>

                <br>
                <p>Making website is known one of the earliest thing in the world you just need to learn HTML CSS JavaScript you are good to go</p>




            </div>

            <div class="comment-box">

                <h3>Leave a comment </h3>

                <form class="comment-form">

                    <input type="text" placeholder="Enter Name">

                    <input type="email" placeholder="Enter Email">

                    <textarea rows="5" placeholder="Your Comment"></textarea>

                    <button type="submit" class="hero-btn red-btn">Post Comment</button>

                </form>

            </div>



            <div class="blog-right">

                <h3>Post Catagories</h3>

                <div>
                    <span>Business Analytics</span>

                    <span>21</span>
                </div>

                <div>
                    <span>Data Science</span>

                    <span>28</span>
                </div>

                <div>
                    <span>Machine Learning</span>

                    <span>16</span>
                </div>

                <div>
                    <span>Computer Science</span>

                    <span>34</span>
                </div>

                <div>
                    <span>Commerce</span>

                    <span>11</span>
                </div>

            </div>





        </div>


    </section>











    <!--------------------------------------------------------Footer------------------------------------------------------------------>

    <section class="footer">

        <h4>About Us</h4>

        <p>asdfjdj jjkkfu u urh ufhaj uew n qeu nfj fjdsuei huewi i fknaksnk n nnjkfsank nkanfsk nnkfsnn jaii o iie jj ie ohuf huia jajeui </p>

        <div class="icons">


            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-linkedin"></i>




        </div>







    </section>

    <!--------------------------------------------------------Footer------------------------------------------------------------------->


    <!-----------------------------------------------------java script toggle menu----------------------------------------------------->

    <script>
        var navLink = document.getElementById("navLink ")

        function showmenu() {
            navLink.style.right = "0 ";
        }

        function hidemenu() {
            navLink.style.right = "-200px ";
        }
    </script>

    <!-----------------------------------------------------java script toggle menu----------------------------------------------------->



    </body>

</html>