<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/register" method="post">
  <input type="text"name= "name" placeholder="enter your name" required>
   <input type="text" name="email " placeholder="enter you email" required>
   <input type="text" name="password " placeholder="password" required>
   <input type="text" name="confirmpassword" placeholder="confirm password"required >
    <input type="number"  minlength="10" maxlength="10" placeholder="phone"name="phone" required>
     <input type="text" name="pickUpaddress "  placeholder="pickupadress" required >
      <input type="text" name="destination " placeholder="destination"required >
       <input type="text" name="description "  placeholder="description" required>
   <button type="submit" value="register" name="submit">submit</button>
   </form>
</body>
</html>